@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

:root {
  --basic-padding: 10px;
  --basic-padding-small: 5px;
  --basic-padding-large: 20px;
  --basic-margin: 10px;
  --basic-margin-small: 5px;
  --basic-margin-large: 20px;

  --header-height: calc(3em + var(--basic-padding) * 2);
  --header-bg-color: #333;
  --header-color: #fff;

  --main-color: #000;
  --main-bg-color: #fff;

  --accent-color: #007bff;
  --selected-color: #eaf4fe;
  --content-width: 960px;

  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-large: 24px;
}

* {
  box-sizing: border-box;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 110px 550px 550px;
  grid-template-rows: 160px 240px 440px;
  gap: var(--basic-margin);
}

.pokemon__search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.pokemon__list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.pokemon__link {
  width: 90px;
}

.pokemon__main {
  height: 100%;
  flex: 1;
  border: 1px solid #000;
}

.pokemon__info,
.pokemon__evolution {
  padding: var(--basic-padding);
}

.pokemon__evolution {
  width: 550px;
}

.pokemon__evolution-table {
  width: calc(550px - var(--basic-margin));
  overflow-x: scroll;
}

.pokemon__evolution-table>table tr th:first-child {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

.pokemon__evolution-table>table thead tr:first-child th:first-child {
  border-top: 3px solid #fff;
  z-index: 10
}

.pokemon__evolution-table>table tbody tr:last-child td:first-child {
  border-bottom: 3px solid #fff;
  z-index: 10;
}

.pokemon__info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.pokemon__info-inner {
  width: 400px;
  margin: 0 auto;
}

.main__pic {
  text-align: center;
}

.pokemon__toc {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.pokemon__image-large {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__title {
  display: flex;
  align-items: center;
}

.pokemon__name {
  width: 100%;
  font-weight: normal;
  font-size: var(--font-size-large);
  text-align: center;
}

.number {
  text-align: right;
}

.arrow {
  width: 30px;
}

.arrow-left {
  text-align: left;
}

.arrow-right {
  text-align: right;
}

.main__table {
  border-collapse: separate;
  border-spacing: 0;
}

.main__th,
.main__td {
  padding: var(--basic-padding);
}

.main__th-center {
  text-align: center;
}

.main__td-selected {
  border-left: 3px solid var(--accent-color);
  border-right: 3px solid var(--accent-color);
  background-color: var(--selected-color);
}

.main__th-nowrap {
  white-space: nowrap;
}

.main__td-selected-top {
  border-top: 3px solid var(--accent-color);
}

.main__td-selected-bottom {
  border-bottom: 3px solid var(--accent-color);
}

.main__td-status {
  position: relative;
}

.main__td-status-value {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 40px;
  z-index: 7;
}

.main__td-status-bar {
  position: absolute;
  height: 1em;
  background-color: #ffc165;
  z-index: 5;
  transform: scale(0, 1);
}

.main__td-status-bar-anim1,
.main__td-status-bar-anim2,
.main__td-status-bar-anim3,
.main__td-status-bar-anim4,
.main__td-status-bar-anim5,
.main__td-status-bar-anim6 {
  animation-name: slidein;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  transform-origin: top left;
}

.main__td-status-bar-anim1 {
  animation-delay: 0s;
}

.main__td-status-bar-anim2 {
  animation-delay: 0.2s;
}

.main__td-status-bar-anim3 {
  animation-delay: 0.4s;
}

.main__td-status-bar-anim4 {
  animation-delay: 0.6s;
}

.main__td-status-bar-anim5 {
  animation-delay: 0.8s;
}

.main__td-status-bar-anim6 {
  animation-delay: 1s;
}

@keyframes slidein {
  from {
    transform: scale(0, 1);
  }

  to {
    transform: scale(1, 1);
  }
}

.main__sub-title {
  font-size: var(--font-size-large);
  margin-bottom: var(--basic-margin);
}

.pokemon__top {
  display: flex;
}

.pokemon__value {
  width: 410px;
  padding: var(--basic-padding);
}

.main__label {
  margin-right: var(--basic-margin-small);
}

.main__input-level {
  width: 4em;
  text-align: right;
}

.pokemon__label {
  color: var(--accent-color);
}

.pokemon__label-continue {
  margin-right: var(--basic-margin-small);
}

.main__continue-content {
  margin-bottom: var(--basic-margin-large);
}

.main__radio-area {
  display: grid;
  gap: 0;
}

.main__radio-area-2 {
  grid-template-columns: 1fr 1fr;
}

.main__radio-area-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.main__radio {
  display: none;
}

.main__radio-label {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 2px var(--basic-padding-small);
}

.main__radio-label:hover:not(:checked) {
  color: var(--accent-color);
}

.main__radio:checked+.main__radio-label {
  color: #fff;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.main__link-head {
  display: inline-block;
  border: 1px solid transparent;
}

.main__link-head:is(:hover, :active) {
  border: 1px solid var(--accent-color);
  background-color: var(--selected-color);
}

.main__link-button {
  padding: var(--basic-padding-small) var(--basic-padding);
  border-radius: var(--basic-padding);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  margin-left: var(--basic-margin);
}

.main__link-button:hover,
.main__link-button:active {
  background-color: var(--accent-color);
  color: #fff;
}

.pokemon__types {
  padding: var(--basic-padding);
}

.main__types {
  display: flex;
  gap: var(--basic-padding-small);
}

.main__type {
  text-align: center;
  ;
}

.type__image {
  width: 40px;
  height: 40px;
}

.type__image-small {
  width: 20px;
  height: 20px;
}

.type__name {
  font-size: var(--font-size-small);
  margin-top: var(--basic-margin-small);
}

.type__scale {
  display: flex;
  gap: 5px;
}

.type__times {
  height: 1em;
  text-align: center;
}

.type__week {
  color: #f00;
}

.type__strong {
  color: #00f;
}

.type__header {
  display: flex;
  gap: var(--basic-margin-large);
}

.hidden-ability {
  border-radius: 50%;
  background-color: var(--accent-color);
  padding: var(--basic-padding-small);
  color: #fff;
  font-size: var(--font-size-small);
}
